<div class="center">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <form>
            <div class="mb-6">
                <label for="UserName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" name="UserName" [(ngModel)]="UserName" id="UserName"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="" required>
            </div>
            <div class="mb-6">
                <label for="UserEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" name="UserEmail" id="UserEmail" [(ngModel)]="UserEmail"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
            </div>
            <button type="button" value="submit" (click)="commitEdit()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>
</div>








<!-- <form class="change-user-details">
    <div class="row">
        <label for="UserName">User Name</label>
        <input type="text" name="UserName" [(ngModel)]="UserName" id="UserName" />
    </div>
    <div class="row">
        <label for="UserEmail">User Email</label>
        <input type="text" name="UserEmail" id="UserEmail" [(ngModel)]="UserEmail" />
    </div>

    <input type="button" value="submit" (click)="commitEdit()" class="btn btn-success" />
</form>



 -->